

<div class="individual-post">
  <div class="post-image">
    <%= image_tag @post.image.url(:medium) , :class => "image-class" %>
  </div>

  <br><br>
  <%= @post.description %>
  <br>
  <!-- <% link_to 'Edit Post', edit_post_path -->
</div>
